<div *ngIf="poem" class="container">
  <div class="row">
    <h2>{{poem.title}}</h2>

    <div *ngFor="let line of poem.lines">
      <span>{{line.text}}</span>
    </div>
  </div>
</div>

<select (change)="selectMood($event)">
  <option value="basic">Basic</option>
  <option value="love">Romantic</option>
  <option value="angst">Angsty</option>
</select>

<select (change)="selectAuthor($event)">
  <option value="default">Default</option>
  <option value="tumblrPoet">Tumblr Poet</option>
  <option value="rupiKaur">Rupi Kaur</option>
</select>

<p><span>Mood: </span><b>{{selectedMood}}</b></p>
<p><span>Author: </span><b>{{selectedAuthor}}</b></p>

<button (click)="getFullPoem()">Get a new one</button>
