<div class="row">
  <h1>Quality Poetry</h1>
</div>

<div *ngIf="poem" class="reader-poem">
  <div class="row">
    <h2 class="poem-title">{{poem.title}}</h2>

    <div *ngFor="let line of poem.lines">
      <span>
        {{line}}
      </span>
    </div>
  </div>
</div>

<div *ngIf="error" class="reader-poem">
  <div class="row">
    <h2>Error</h2>
    <span>{{error}}</span>
  </div>
</div>

<br/>
<br/>

<a href="https://twitter.com/qualitypoetry" rel="noopener noreferrer" target="_blank">
  <img src="../assets/logoBrown.png" alt="Quality Poetry Logo" class="qp-logo"/>
</a>

<br/>
<span class="author-text">by <a href="https://www.danielmaxsiegel.com" rel="noopener noreferrer" target="_blank">dms</a></span>
<br/>
<button (click)="getFullPoem()" class="reader-button">another</button>
